name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Build
      run: make build

    - name: Clean
      run: make clean

    - name: Install
      run: make install

    - name: Test
      run: make test

    - name: Build Phar
      run: make compile

    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: mtxpc.phar
        path: ${{ github.workspace }}/build/mtxpc.phar

    - name: Submit coverage to Coveralls
      continue-on-error: true
      uses: coverallsapp/github-action@v1.1.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
